.component-wrapper {
  padding: 0 1%;

  .video-info {
    display: flex;

    .details-container {
      padding-left: 2%;

      .watch-button {
        margin-top: 2%;
      }
    }
  }

  .submit-rating-button {
    margin-left: 2%;
  }
}
