<div class="component-wrapper">
  <h2>Signin</h2>

  <form [formGroup]="signinForm">
    <div class="form-wrapper">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <button mat-flat-button color="primary" (click)="signin()">Login</button>
  <button mat-flat-button color="primary" (click)="back()" class="back-button">
    Back
  </button>
</div>
