<div class="component-wrapper">
  <h2>Video Catalogue</h2>

  <mat-form-field>
    <mat-label>Search Video</mat-label>
    <input matInput type="text" [(ngModel)]="searchTerm" />
    <button
      *ngIf="searchTerm"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchTerm = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-selection-list [multiple]="false">
    <mat-list-option
      (click)="navigateToDetails(video._id)"
      *ngFor="let video of videoCatalogue$ | async | searchVideo: searchTerm"
      [value]="video._id"
    >
      {{ video.title }}
    </mat-list-option>
  </mat-selection-list>
</div>
